@model BreakFast.Models.UpdateBreakFastViewModel
@{
    ViewData["Title"] = "BreakFast List";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="EditBreakFast" asp-route-id="@Model.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" value="@Model.StartTime" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" value="@Model.EndTime" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>


                    <br />
                    <div class="form-row">
                        <div class="kt-form__actions">
                            <button class="btn btn-success"
                                    type="submit">
                                Save Changes
                            </button>
                            &nbsp;
                            &nbsp;
                            <a class="btn btn-primary"
                               asp-action="ViewBreakFastDetail"
                               asp-route-id="@Model.Id">
                                Return to BreakFast Details
                            </a>
                            &nbsp;
                            <a class="btn btn-primary"
                               asp-action="ViewBreakFast">
                                Return to BreakFast List
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>